@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "iranyekan-thin";
    src: url("/fonts/iranYekanWebThin.woff2") format("woff2");
  }
  @font-face {
    font-family: "iranyekan-light";
    src: url("/fonts/iranYekanWebLight.woff2") format("woff2");
  }
  @font-face {
    font-family: "iranyekan";
    src: url("/public/fonts/iranYekanWeb.woff2") format("woff2");
  }
  @font-face {
    font-family: "iranyekan-medium";
    src: url("/fonts/iranYekanWebMedium.woff2") format("woff2");
  }
  @font-face {
    font-family: "iranyekan-bold";
    src: url("/fonts/iranYekanWebBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "iranyekan-extrabold";
    src: url("/fonts/iranYekanWebExtraBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "iranyekan-black";
    src: url("/fonts/iranYekanWebBlack.woff2") format("woff2");
  }
  @font-face {
    font-family: "iranyekan-extrablack";
    src: url("/fonts/iranYekanWebExtraBlack.woff2") format("woff2");
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: grid;
}

.swiper-button-next {
  right: 15px !important;
}

.swiper-button-prev {
  left: 15px !important;
}

.swiper-pagination-bullet {
  width: 7px !important;
  background-color: white !important;
}
.swiper-pagination-bullet-active {
  width: 20px !important;
  border-radius: 10px !important;
  background-color: #5a31f4 !important;
}
