@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "iranyekan-thin";
    src: url("/fonts/iranYekanWebThin.woff2") format("woff2");
  }
  @font-face {
    font-family: "iranyekan-light";
    src: url("/fonts/iranYekanWebLight.woff2") format("woff2");
  }
  @font-face {
    font-family: "iranyekan";
    src: url("/public/fonts/iranYekanWeb.woff2") format("woff2");
  }
  @font-face {
    font-family: "iranyekan-medium";
    src: url("/fonts/iranYekanWebMedium.woff2") format("woff2");
  }
  @font-face {
    font-family: "iranyekan-bold";
    src: url("/fonts/iranYekanWebBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "iranyekan-extrabold";
    src: url("/fonts/iranYekanWebExtraBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "iranyekan-black";
    src: url("/fonts/iranYekanWebBlack.woff2") format("woff2");
  }
  @font-face {
    font-family: "iranyekan-extrablack";
    src: url("/fonts/iranYekanWebExtraBlack.woff2") format("woff2");
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: #ccc !important;
  transform: scale(0.5) !important;
  width: 50px !important;
  height: 80px !important;
  border: 1px solid #ccc;
  border-radius: 10px !important;
  padding: 0.5rem !important;
  transition: 0.2s;
  background: white !important;
  display: none;
  place-items: center;
  top: 40% !important;
}
.swiper-button-prev {
  left: -13px;
}
.swiper-button-next {
  right: -13px;
}

.swiper-pagination-bullet {
  width: 7px !important;
  background-color: white !important;
}
.swiper-pagination-bullet-active {
  width: 20px !important;
  border-radius: 10px !important;
  background-color: #5a31f4 !important;
}
